.carouselItem {
    padding: 0px 30px;
    position: relative;
}


::ng-deep {

    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%) !important;
    }

    .owl-nav button {
        background: transparent;
        border: none;
    }

    .owl-nav .owl-prev {
        position: absolute;
        left: -40px;
        background: transparent !important;
        transform: translateY(calc(-50% - 10px))
    }

    .owl-nav .owl-next {
        position: absolute;
        right: -40px;
        background: transparent !important;
        transform: translateY(calc(-50% - 10px))
    }

}

.categoryImg {
    width: 140px !important;
    height: 140px;
}

.categoryBtn {
    padding: 16px;
    margin: 0px auto 15px auto !important;
    display: block;

}

.card {
    border: 1px solid #e0e3eb;
    border-radius: 16px;
}

.cardImg {
    width: 150px;
    height: 150px;
    margin: 0px auto;
    cursor: pointer
}

.btn {
    padding: 10px 32px;
    outline: none !important;
    border: 1px solid #d9d5d5;
}


@media screen and (max-width: 1024px) {
    .categoryImg {
        width: 100px !important;
        height: 100px;
    }
}

@media screen and (max-width: 767px) {

    .categoryBtn {
        padding: 10px;
    }
}